/* General body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    /*border: 5px solid orange;*/

}

/* Header styles */
header {
    /* background-color: #333; */
    color: white;
    padding: 20px; 
    font-size: xx-large; 
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.polo {
    width:470px;
    padding-left:60px;
    margin:0 0 10px 25px;
    font-size:12px;
    display:inline-block;
     }

     
.text-plot {
    float: left;
    width: 400px;
    padding: 5px;
    margin: 5px;
    margin-bottom: 20px;
        }

.left-img {
    float: left;
    width: 300px;
    padding: 5px;
    margin: 5px;
    text-align: center; 
    -moz-box-shadow: 1px 1px 3px #222;
    -moz-transform: rotate(-5deg);
    -webkit-box-shadow: 1px 1px 3px #222;
    -webkit-transform: rotate(-5deg);
    box-shadow: 1px 1px 3px #222;
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
        } 

        
.right-img {
    float: right;
    width: 300px;
    padding: 5px;
    margin: 5px;
    text-align: center; 
    -moz-box-shadow: 1px 1px 3px #222;
    -moz-transform: rotate(5deg);
    -webkit-box-shadow: 1px 1px 3px #222;
    -webkit-transform: rotate(-5deg);
    box-shadow: 1px 1px 3px #222;
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
        } 

.plots {
    width: 45%;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
}

h1 {
    /*-webkit-text-stroke: 0.5px rgb(51, 134, 134);*/
    text-decoration-line: underline;
    text-decoration-color: white;
    text-shadow: 0.9px 0.9px rgb(51, 134, 134);
    text-align: center;
}


/* Navigation styles */
nav {
    background-color: #f0f0f0;
    padding: 5px;
    text-align: right;
}

a {
    text-decoration: none;
    color: #333;
    padding: 5px;
    font-weight: bold;
    font-size: large;
}

a:hover {
    background-color: #555;
    color : white;
}


/* Main content styles */
main {
    margin: 15px;
    color: #333;
    text-align: center;
}



/* Section styles */
section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

/* Article styles */
article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

h2 {
    color: #333;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    font-size: larger;
    line-height: 1.5;

}
/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Image styles */
img.rounded {
    border-radius: 10px;
}
